@import "tailwindcss";
@keyframes float {
  0% {
    transform: translateX(0) translateY(0) scale(1);
    opacity: 0;
  }
  10% {
    opacity: 0.8;
  }
  100% {
    transform: translateX(-30px) translateY(-120vh) scale(1.2);
    opacity: 0;
  }
}.animate-float {
  animation: float 8s linear infinite;
}